.Principal {

    display: flex;
    justify-content: space-between;
    align-items: center ;

}

.listh1{
	color: #069370;
	font-size: 2.3rem;
}
.listmonths{
	list-style: none;
	font-size: 1.2rem;
	margin-left : 5vh;

}

.listmonths li{
	margin: 5px;
	display: block;
	width: 100px;
	height: 35px;
    display: flex;
    align-items: center 


}
.listmonths li:hover{
	cursor: pointer;
	background:#069370;
	color: white;

}

.listall{
	margin-left: 5vh;
	margin-top: 2vh;
}

ul li {

    margin: 0;
    padding: 0;

}
.list::before {
    content: "◯";
    color: #069370; 
    margin-top: -10px;
    font-size: 40px; 

}

#list1::before {
    content: "◯ 2019";
    color: #069370; 
    display: flex;
}

#list2::before {
    content: "◯ 2020";
    color: #069370; 
    display: flex;

}

.divLista{

    display: flex;
    align-items: center;
    padding-left: 5px;
    margin: -12px 0px -4.5px 0px;
    margin-left: 10px;
    font-size:35px; 
    padding: 10px;
    margin-left: 20px;


}

.divLista img {

    height: 15px;
    width: 15px;

}

.imgDivLista{

    margin-top: 10;
    padding: 10px 0px;

}

.textoGenerico {
    margin-left: 3px;
    /* font-size: 20px; */
}

.main {

    display: flex;
    justify-content: space-between;
    padding-right: 30vw;

}

#infosSetembro {
    /* display: none; */
    display: flex;
    flex-direction: column;
    width: 70vw;
    align-items: center;
    justify-content: center;
}

#infosJaneiro {
    display: none;
}

@media (min-width: 500px){

.listall{
	margin-left :15vh;
}

}

.estrutura{

    margin-left: 80px;
    margin-top: 70px;
    font-family:sans-serif;
    width: 25vw;

}
.graficox{

    width: 55vw;
    height: 35vw;
    box-shadow: 2px 1.5px 8px;
    border-radius:10px;
    margin-top: 30px;

}

.graficoy{

    width: 55vw;
    height: 35vw;
    box-shadow: 2px 1.5px 8px;
    border-radius:10px;
    margin-top: 30px;
 
}

.graficototal{
    height: 100%;
    width: 75vw;
    align-items: center;
    justify-content: center;

}
 
