.listh1{
	color: #069370;
	font-size: 2.3rem;
}
.listmonths{
	list-style: none;
	font-size: 1.2rem;
	margin-left : 5vh;


}

.listmonths li{
	margin: 5px;
	display: block;
	width: 100px;
	height: 35px;
	  display: flex;
		align-items: center 


}
.listmonths li:hover{
	cursor: pointer;
	background:#069370;
	color: white;

}


.listall{
	margin-left: 5vh;
	margin-top: 2vh;
}

ul li {

    margin: 0;
    padding: 0;

}
.list::before {
    content: "◯";
    color: #069370; 
}

#list1::before {
    content: "◯ 2019";
    color: #069370; 
    display: flex;
}

#list2::before {
    content: "◯ 2020";
    color: #069370; 
}

/* #testeLista li::before {
    content: "◯";
    color: red;
} */

.divLista{

    display: flex;
    align-items: center;
    padding-left: 5px;
    margin: -5px 0px -4.5px 7.5px;

}

.divLista img {

    height: 15px;
    width: 15px;

}


.imgDivLista{

    margin-top: 10;
    padding: 10px 0px;

}

#divLista1 {

    /* padding-left: 5px; */

}

.textoGenerico {
    margin-left: 3px;
}

.main {

    display: flex;
    justify-content: space-between;
    padding-right: 30vw;

}

#infosSetembro {
    display: none;        
}

#infosJaneiro {
    display: none;
}



@media (min-width: 500px){

.listall{
	margin-left :15vh;
}

}
